altgraph==0.17.3
certifi==2023.5.7
charset-normalizer==3.1.0
clipboard==0.0.4
colorama==0.4.6
decorator==4.4.2
idna==3.4
imageio==2.29.0
imageio-ffmpeg==0.4.8
moviepy==1.0.3
numpy==1.24.3
pefile==2023.2.7
Pillow==9.5.0
proglog==0.1.10
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
pyperclip==1.8.2
pytube==15.0.0
pywin32-ctypes==0.2.0
requests==2.31.0
tqdm==4.65.0
urllib3==2.0.2
